<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="col-md-12">
      <%= f.label :text %><br>
      <%= f.text_field :text %>
    </div>
  </div>

  <div class="field row">
    <div class="col-md-12">
      <%= f.label :question_type %><br>
      <%= f.select :question_type, @question_types_list %>
    </div>
  </div>

  <div class="field row answer_field">
    <div class="col-md-12">
      <%= f.label "Answer 1" %><br>
      <%= f.text_field :metadata_one %>
    </div>
  </div>

  <div class="field row answer_field">
    <div class="col-md-12">
      <%= f.label "Answer 2" %><br>
      <%= f.text_field :metadata_two %>
    </div>
  </div>

  <div class="field row answer_field">
    <div class="col-md-12">
      <%= f.label "Answer 3" %><br>
      <%= f.text_field :metadata_three %>
    </div>
  </div>

  <div class="field row answer_field">
    <div class="col-md-12">
      <%= f.label "Answer 4" %><br>
      <%= f.text_field :metadata_four %>
    </div>
  </div>

  <div class="actions row">
    <div class="col-md-12">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>