<style>
mark {
  background-color: yellow;
  font-weight: normal;
  font-style: normal;
}
</style>

<%= render :layout => 'administrator/navigation' do %>

  <p id="notice"><%= notice %></p>

  <h1>Listing Questions</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Text</th>
        <th>Question type</th>
        <th>Metadata one</th>
        <th>Metadata two</th>
        <th>Metadata three</th>
        <th>Metadata four</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>
          <% if question.is_currently_unassigned == true %>
            <mark>
          <% end %>
          <%= question.text %>
          <% if question.is_currently_unassigned == true %>
            </mark>
          <% end %>
          </td>
          <td><%= question.get_subtype_name() %></td>
          <td><%= question.metadata_one_formatted() %></td>
          <td><%= question.metadata_two_formatted() %></td>
          <td><%= question.metadata_three_formatted() %></td>
          <td><%= question.metadata_four_formatted() %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Question', new_question_path %>

<% end %>
