<div class="modal-admin">
  <div class="modal-content">

    <div class="modal-header bg-primary">
      <h3 class="modal-title"><%= @party.name %></h3>
    </div>

    <div class="modal-body">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab_party_info">Party Info</a></li>
        <li><a data-toggle="tab" href="#tab_favorite_infos">Spotify</a></li>
        <li><a data-toggle="tab" href="#tab_metadata">Metadata</a></li>
        <li><a data-toggle="tab" href="#tab_send_email">Send Email</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab_party_info" class="tab-pane fade in active">
          <ul>
            <% for attribute in @party.attributes.keys %>
              <li>
                <strong><%= attribute.humanize %>:</strong>
                <% if attribute == "owner_user_id" && @party.owner_user_id? %>
                  <%= @party.get_owner.name %>
                <% else %>
                  <%= @party.attributes[attribute].to_s %>
                <% end %>
              </li>
            <% end %>
            <li>
              <strong>Number of events:</strong>
              <%= @party.events.count %>
            </li>
            <% for user in @party.users %>
              <li>
                <strong>Member:</strong>
                <%= user.name %>
              </li>
            <% end %>
          </ul>
        </div>
        <div id="tab_favorite_infos" class="tab-pane fade">
          <p><%= render 'show_favorite_infos' %></p>
        </div>
        <div id="tab_metadata" class="tab-pane fade">
          <p><%= render 'show_metadata' %></p>
        </div>
        <div id="tab_send_email" class="tab-pane fade">
          <p><%= render 'show_send_email' %></p>
        </div>
      </div>
    </div>

    <div class="modal-footer bg-dark">
      <% if @standalone_page %>
        <%= link_to 'Parties Page', parties_path, class: "btn btn-default" %>
      <% else %>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal_close_button">Close</button>
      <% end %>
    </div>
  </div>
</div>

<script>
$("#modal_close_button").on('click', function() {
  console.log("closed");
});
</script>