<%= render :layout => 'administrator/navigation' do %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Editing Party</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= render 'form' %>
            </div>
            <div class="col-md-6" style="display: flex">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="administrator-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Administrator
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="administrator-dropdown">
                    <li><a href="#" class="admin_selection" admin="0">None</a></li>
                    <li role="separator" class="divider"></li>
                    <% @administrators.each do |cur_administrator| %>
                        <li><a href="#" class="admin_selection" admin="<%= cur_administrator.id %>"><%= cur_administrator.name %></a></li>
                    <% end %>
                  </ul>
                </div>

                <div style="margin-top: 6px" id="administrator-name">
                    <% if @party.administrator.nil? %>
                        None
                    <% else %>
                        <%= @party.administrator.name %>
                    <% end %>
                </div>
            </div>
        </div>

        <h2>Events for the Party</h2>
        <table class="table member_parties_table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% @party.events.each do |event| %>
                    <tr>
                    <td><%= event.description %></td>
                    <td><%= link_to 'Unregister for this event', {:party => @party.id, :event => event.id, :action => 'unregister_for_event'}, method: :post %></td>
                    </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <h2>Register for Event</h2>
        <%= form_for(@party) do |f| %>
            <%= f.label :event_id, "Enter an event to register for" %><br>
            <%= f.text_field :event_id, class: 'event_field' %><br>
            <%= f.submit %>
        <% end %>

        <table class="table parties_table" style="display: none">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                <% @all_events.each do |event| %>
                    <tr class="clickable-row" data-event-id="<%= event.id %>">
                        <td><%= event.description %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to 'Show', @party %> |
        <%= link_to 'Back', parties_path %>
    </div>

<% end %>

<script>
    $(document).ready(function() {

        $('.parties_table').on('click', '.clickable-row', function(event) {
            if($(this).hasClass('active'))
            {
                $(this).removeClass('active');

                $(".event_field").val("");
            }
            else
            {
                $(this).addClass('active').siblings().removeClass('active');

                var event_id = $(this).attr("data-event-id");

                $(".event_field").val(event_id);
            }
        });

        $(".event_field").focus(function () {
            $(".parties_table").css('display', 'table');
        });

        $(".admin_selection").click(function(obj) {
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: "set_administrator",
                success: function(data) {
                    if (data["admin_id"] == 0)
                    {
                        $("#administrator-name").text("None");
                    }
                    else
                    {
                        $("#administrator-name").text(data["admin_name"]);
                    }
                },
                data: { 
                'admin_id': $(this).attr("admin")
                }
    });
        });

    });
</script>