<%= render :layout => 'administrator/navigation' do %>

  <p id="notice"><%= notice %></p>

  <h1>Listing Parties</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Members</th>
        <th>Events</th>
      </tr>
    </thead>

    <tbody>
      <% @parties.each do |party| %>
        <tr>
          <td><%= party.name %></td>
          <td><%= party.description %></td>
          <td><%= party.get_owner.name %></td>
          <td>
            <% party.users.each do |user| %>
              <%= user.name %><br>
            <% end %>
          </td>

          <td>
            <% party.events.each do |event| %>
              <%= event.description %><br>
            <% end %>
          </td>


          <td><%= link_to 'Show', party_path(party), remote: true, "data-toggle" => "modal", "data-target" => "#my_modal" %></td>
          <td><%= link_to 'Edit', edit_party_path(party) %></td>
          <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Party', new_party_path %>

  <div id="my_modal" class="modal fade" role="dialog" />

<% end %>
