<div class="container">

<ul>
  <% flash.each do |key, msg| %>
    <%= content_tag :li, msg, id: key %>
  <% end %>
</ul>


<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

  <div class="row">
    <div class="col-md-offset-4 col-md-5 text-center">
      <div class="welcome">
        Welcome to Newton
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-5">
      <div class="welcome_subheading">
        Customized concert & music recommendations for <b>you</b> and <b>your friends</b> that you're all guaranteed to love
      </div>
    </div>
  </div>

  <div class="row welcome_row">
    <div class="col-md-offset-2 col-md-1 col-xs-2 welcome_row_image">
      <%= image_tag("spotify.jpg", class: "img-responsive") %> 
    </div>
    <div class="col-md-8 col-xs-8 welcome_row_text">
      1) We analyze you and your friends' Spotify music preferences
    </div>
  </div>

  <div class="row welcome_row">
    <div class="col-md-offset-2 col-md-1 col-xs-2 welcome_row_image">
      <%= image_tag("music_icon.jpg", class: "img-responsive") %> 
    </div>
    <div class="col-md-8 col-xs-8 welcome_row_text">
      2) We send you customized music recommendations once a week that you can vote yes/no on
    </div>
  </div>

  <div class="row welcome_row">
    <div class="col-md-offset-2 col-md-1 col-xs-2 welcome_row_image">
      <%= image_tag("ticket.jpg", class: "img-responsive") %> 
    </div>
    <div class="col-md-8 col-xs-8 welcome_row_text">
      3) When a band is in town that you AND your friends like. We let you know and get you the lowest price
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 facebook_row">
        <a class="btn btn-block btn-social btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>

        <p><%= link_to 'Sign in with Facebook', signin_path %></p>
    </div>
  </div>


</div>

<script>
/*$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '1687092434877762',
      version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
    });     
    $('#loginbutton,#feedbutton').removeAttr('disabled');
    FB.getLoginStatus(updateStatusCallback);
  });
});*/
</script>