<%= render :layout => 'administrator/navigation' do %>

    <p id="notice"><%= notice %></p>

    <h1>Listing User Feedback</h1>

    <table class="table">
        <thead>
            <tr>
                <th>sentiment</th>
                <th>issue_type</th>
                <th>email</th>
                <th>description</th>
            </tr>
        </thead>

        <tbody>
            <% @user_feedbacks.each do |user_feedback| %>
                <tr>
                    <td>
                        <% case user_feedback.sentiment %>
                        <% when 0 %>
                            <span class="sentiment-happy"></span>
                        <% when 1 %>
                            <span class="sentiment-sad"></span>
                        <% end %>
                        &nbsp(<%= user_feedback.sentiment %>)
                    </td>
                    <td>
                        <% case user_feedback.issue_type %>
                        <% when 1000 %>
                            Feature
                        <% when 2000 %>
                            Bug
                        <% when 3000 %>
                            Other
                        <% end %>
                        &nbsp(<%= user_feedback.issue_type %>)
                    </td>
                    <td><%= user_feedback.email %></td>
                    <td><%= user_feedback.description %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

<% end %>
