<!--
This is designed such that calendar.html, home.html etc... do not have to copy paste this code.
This code contains the rendering code for the navigation bar as well as the top menu and its items.
For more on partials:
http://api.rubyonrails.org/classes/ActionView/PartialRenderer.html
http://stackoverflow.com/questions/2951105/rails-render-partial-with-block
-->


<div id="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header" >
	        <a class="navbar-brand" href="<%= home_path %>">Audicy (alpha)</a>
	    </div>
	
         <!-- Top Menu Items -->
         <ul class="nav navbar-right top-nav">
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <img class="img-circle" src="<%= (session[:fb_info])["image"] %>">
					<i class="fa"></i> <%= (session[:fb_info])["name"] %>
					<b class="caret"></b>
				 </a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="<%= profile_path %>"><i class="fa fa-fw fa-user"></i> Profile</a>
                     </li>
					 <!--
                     <li>
                         <a href="<%= settings_path %>"><i class="fa fa-fw fa-gear"></i> Settings</a>
                     </li>
					 -->

                     <li class="divider"></li>
                     <li>
                         <a href="<%= signout_path %>"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                     </li>
                 </ul>
             </li>
         </ul>
	
	    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens "border: 1px solid red; " -->
	    <div class="collapse navbar-collapse navbar-ex1-collapse">
	        <ul class="nav navbar-nav side-nav" style="margin-top: 30px;">
		        <li class="<%= @current_nav_selection=='nav_home' ? 'selected' : ' ' %>">
	                <a href="<%= home_path %>"><i class="fa fa-fw fa-home"></i> Home</a>
	            </li>
				<li class="<%= @current_nav_selection=='nav_party' ? 'selected' : ' ' %>">
	                <a href="<%= party_user_page_path %>"><i class="fa fa-fw fa-group"></i> Party
                        <% if @user.get_all_party_invites.count > 0 %>
                            <span style="background: red; padding-left: 7px; padding-right: 7px; border-radius: 25px; color: white"><%= @user.get_all_party_invites.count %></span>
                        <% end %>
                    </a>

	            </li>
		        <li class="<%= @current_nav_selection=='nav_chat' ? 'selected' : ' ' %>">
	                <a href="<%= chat_path %>"><i class="fa fa-fw fa-slack"></i> Chat</a>
	            </li>
	            <li class="<%= @current_nav_selection=='nav_calendar' ? 'selected' : ' ' %>">
	                <a href="<%= calendar_path %>"><i class="fa fa-fw fa-calendar"></i> Music Events</a>
	            </li>
                <% if (@user.permissions & User::PERMISSION_ADMINISTRATOR) > 0 %>
                    <li>
                        <a href="<%= administrator_path %>"><i class="fa fa-fw fa-desktop"></i> Administrator</a>
                    </li>
                <% end %>
				<!--
	            <li class="<%= @current_nav_selection=='nav_stats' ? 'selected' : ' ' %>">
	                <a href="<%= stats_path %>"><i class="fa fa-fw fa-bar-chart-o"></i> Stats</a>
	            </li>
				-->
	            <li class="<%= @current_nav_selection=='nav_feedback' ? 'selected' : ' ' %>">
	                <a href="<%= feedback_path %>"><i class="fa fa-fw fa-heart"></i> Tell us what you think</a>
	            </li>
	        </ul>
	    </div>
	    <!-- /.navbar-collapse -->
	</nav>

    <!-- This will be replaced by some code as the template gets instantiated "border: 1px solid red; for debug" -->
	<div id="page-wrapper" style="margin-top: 81px;">
		<div id="container-fluid">
			<%= yield %>
		</div>
	</div>
    
</div>