<%= render :layout => 'navigation' do %>

<% if @current_party_events.empty? == true %>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-calendar fa-fw"></i> At the moment no event is suggested to your party
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
  We are working hard to find something all your party members will enjoy.
  </div>
  <!-- /.panel-body -->
</div>
<% end %>

<% @current_party_events.each_with_index do |event, i| %>
<div class="panel <%= event.start > Time.now ? 'panel-green' : 'panel-red' %> ">
  <div class="panel-heading">
    <i class="fa fa-calendar fa-fw"></i> <%= event.description %> <%=  event.start.in_time_zone("Pacific Time (US & Canada)").strftime("%H:%M %m-%d-%y") %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="list-group">
	  <% @current_party.users.each do |user| %>
      <p class="list-group-item">
        <i class="fa fa-fw"></i> <%= user.name %>
		<% if user.id == @user.id %>
          <a class="pull-right label <%= @current_party.get_registration(event.id, user.id).get_label_string %> " id=<%= "user-registration-button-" + i.to_s %> > <%= @current_party.get_registration(event.id, user.id).get_display_string %>  </a>
		<% else %>
		   <span class="pull-right label <%= @current_party.get_registration(event.id, user.id).get_label_string %>"> <%= @current_party.get_registration(event.id, user.id).get_display_string %>  </span>
		<% end %>
      </p>
	  <% end %>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<% end %>

<% end %>

<script>
<% @current_party_events.each_with_index do |event, i| %>
$( "<%= "#user-registration-button-" + i.to_s %>" ).click(function() {

	var user_id = <%= @user.id %>;
	var going   = $("<%= "#user-registration-button-" + i.to_s %>").hasClass( "label-success" );
	var unsure  = $("<%= "#user-registration-button-" + i.to_s %>").hasClass( "label-warning" );
	//var not_going = $("<%= "#user-registration-button-" + i.to_s %>").hasClass( "label-danger" );
	
	var new_commitment;
	if(going)
	{
		$("<%= "#user-registration-button-" + i.to_s %>").removeClass( "label-success" ).addClass( "label-warning" );
		//user went to unsure
		$("<%= "#user-registration-button-" + i.to_s %>").text("Unsure");
		new_commitment = <%= EventRegistration.user_unsure %>;//unsure
	}
	else if (unsure)
	{
		$("<%= "#user-registration-button-" + i.to_s %>").removeClass( "label-warning" ).addClass( "label-danger" );
		//user went to not going
		$("<%= "#user-registration-button-" + i.to_s %>").text("Not Going");
		new_commitment = <%= EventRegistration.user_not_going %>;//not going
	}
	else
	{
		$("<%= "#user-registration-button-" + i.to_s %>").removeClass( "label-danger" ).addClass( "label-success" );
		//user went to going
		$("<%= "#user-registration-button-" + i.to_s %>").text("Going");
		new_commitment = <%= EventRegistration.user_going %>;// going
	}

    $.ajax({
    url: '/new_account/handle_event_commitment',
    type: 'POST',
    data: $.param({ new_commitment: new_commitment , event_id: <%= event.id %> })
    });

});
<% end %>

</script>
