<script src="https://www.youtube.com/iframe_api"></script>

<%= render :layout => 'navigation' do %>
	<div class="row"> <!-- This needs to be re-worked, this looks absolutely terrible -->
		<div class="col-lg-12">
			<div>
				<%= image_tag("party_banner.jpg", :class => "img-responsive") %>

			    <%= image_tag("party_emblem.jpg", :class => "party_emblem img-circle") %>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle party_drop_down_button" style="width:200px;" data-toggle="dropdown"> <%= @current_user_party_name %> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right party_drop_down_menu" role="menu">
						<% @user.parties.each_with_index do |party, i| %>
							<li><%= link_to party.name, {:party_index => i, :party_id => party.id, :action => 'switch_party'}, method: :post %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 50px;">
		<% @questions.each_with_index do |cur_question, i| %>
		<div class="col-lg-3 col-md-6" id= <%= "question_" + cur_question.action_id.to_s %> >
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-comments fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">1</div>
							<div><%= cur_question.question.get_subtype_name() %></div>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div><%= cur_question.question["text"]%></div>
					<div>
						<%= form_tag( { action: "enter_answer", method: "post" }, { class: "question_form", action_id: cur_question.action_id.to_s, remote: true } ) do %>

							<% if (cur_question.question.get_subtype_name() == "Multiple Choice") %>
								<%= radio_button_tag(:answer_integer, '0', false, class: "multiple-choice-answer") %>
								<%= label_tag(:answer_integer_0, cur_question.question.metadata_one) %><br>
								<%= radio_button_tag(:answer_integer, '1', false, class: "multiple-choice-answer") %>
								<%= label_tag(:answer_integer_1, cur_question.question.metadata_two) %><br>
								<% if cur_question.question.metadata_three.blank? == false %>
									<%= radio_button_tag(:answer_integer, '2', false, class: "multiple-choice-answer") %>
									<%= label_tag(:answer_integer_2, cur_question.question.metadata_three) %><br>
								<% end %>
								<% if cur_question.question.metadata_four.blank? == false %>
									<%= radio_button_tag(:answer_integer, '3', false, class: "multiple-choice-answer") %>
									<%= label_tag(:answer_integer_3, cur_question.question.metadata_four) %><br>
								<% end %>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Yes/No") %>
								<%= radio_button_tag :answer_integer, '0' %>
								<%= label_tag(:answer_integer_yes, "Yes") %><br>
								<%= radio_button_tag :answer_integer, '1' %>
								<%= label_tag(:answer_integer_no, "No") %><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Rating") %>
								<%= number_field_tag( :answer_integer, nil, min: 0, max: 10, class: "number-input" )%><br><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Text") %>
								<%= text_field_tag( :answer_text, nil )%><br><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<%= submit_tag "Submit",  :class => 'btn btn-primary question_submit disabled' %>
							<%= submit_tag "Dismiss", :class => 'btn btn-primary question_dismiss', name: 'dismiss_button'  %>

						<% end %>
					</div>
				</div>

			</div>
		</div>
		<% end %>


		<% @link_tos.each_with_index do |cur_link_to, i| %>
		<div class="col-lg-3 col-md-6">
			<div class="panel <%= cur_link_to.link_to.panel_style %>">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa <%= cur_link_to.link_to.icon_style %> fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div><%= cur_link_to.link_to.title %></div>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div><%= cur_link_to.link_to.description %></div>
					<% if cur_link_to.link_to.is_youtube_embedded_video_linkto %>
						<div id ="video-player-<%= cur_link_to.link_to.youtube_video_id %>" style="width: 100%; height: 100%;">
						</div>
					<% end %>
					<% if cur_link_to.link_to.is_tweet_linkto %>
					<iframe width="100%" height="100%" src="<%='http://twitframe.com/show?url=' + cur_link_to.link_to.url.to_s %>" frameborder="0"></iframe>
					<% end %>
				</div>

				<% class_name = (cur_link_to.link_to.type_id == LinkTo.sync_spotify_type ? "spotify-link" : "linkto") %>
				<% if (cur_link_to.link_to.is_youtube_embedded_video_linkto) %>
					<% class_name = "youtube-link" %>
				<% end %>

				<div class="panel-footer">
					<div class="row">
						<!-- Dismiss link for a link_to -->
						<div class="col-xs-6">
						<% if cur_link_to.link_to.is_standard_linkto %>
							<%= link_to handle_link_to_path(:url => cur_link_to.link_to.url, :action_id => cur_link_to.action_id, :dismiss => true, :liked => true), :id => cur_link_to.link_to.is_standard_linkto ? 'linkto' +  cur_link_to.link_to.id.to_s : '', :class=> "#{class_name}-dismiss", :liked => "true" do %>
								<span class="pull-left"> <i class="fa fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;&nbsp;</span>
							<% end %>
							<%= link_to handle_link_to_path(:url => cur_link_to.link_to.url, :action_id => cur_link_to.action_id, :dismiss => true, :liked => false), :id => cur_link_to.link_to.is_standard_linkto ? 'linkto' +  cur_link_to.link_to.id.to_s : '', :class=> "#{class_name}-dismiss", :liked => "false" do %>
								<span class="pull-left"> <i class="fa fa-thumbs-down fa-lg"></i> </span>
							<% end %>
							<div class="clearfix"></div>
						<% end %>
						</div>
						<!-- Link text for a link_to.  Eg: "Watch" for a YouTube video, etc -->
						<div class="col-xs-6">
						<%= link_to handle_link_to_path(:url => cur_link_to.link_to.url, :action_id => cur_link_to.action_id, :dismiss => false), :target => cur_link_to.link_to.is_standard_linkto ? "_blank" : "" , :id => cur_link_to.link_to.is_standard_linkto ? 'linkto' +  cur_link_to.link_to.id.to_s : '', :class => "#{class_name}-click" do %>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i> <%= cur_link_to.link_to.link_text %></span>
							<div class="clearfix"></div>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>

	</div>

<% end %>

<%= render :partial => 'user_notification' %>

<script>
$(document).ready(function() {

	$(".question_submit").click(function() {
		mixpanel.track("Question: Submit");
	});

	$(".question_dismiss").click(function() {
		mixpanel.track("Question: Dismiss");
	});

	$(".youtube-link-dismiss").click(function() {
		mixpanel.track("YouTube Video Feedback", {liked: $(this).attr("liked")});
	});

	$('.question_form').on('ajax:success', function(e, data, status, xhr) {
		action_id = $(this).attr("action_id");
		$('#question_' + action_id).remove();
	});

	<% @link_tos.each_with_index do |cur_link_to, i| %>
	  <% if cur_link_to.link_to.is_standard_linkto %>
	  $('#<%= 'linkto'  +  cur_link_to.link_to.id.to_s %>').click(function() {
		  //necessary because we delete the linkto and if it is sill on the page, and visible to the user,
		  // they might click on it again, causing an error (cannot find linkto)
		  setTimeout(function(){
			location.reload();
		   }, 500);//wait otherwise we reload the page too fast and the database has not bee updated yet
	  });
	  <% end %>
	<% end %>
});

$(document).ready(function(){

	var gender = (<%= @user.gender %> == 0) ? "female" : "male";

    mixpanel.register({
      "email" : "<%= @user.email %>",
      "gender" : gender,
      "zip" : "<%= @user.zip_code %>",
      "birthday" : "<%= @user.birthday %>"
    });

    mixpanel.people.set({
      "$email" : "<%= @user.email %>",
      "$name" : "<%= @user.name %>",
      "gender" : gender
    })

	<% if defined?(@spotify_sync_success) %>
    var notification_form = $('#notification_modal')
    notification_form.find("#notification-modal-header-id").text("Thank You");
    notification_form.find("#notification-modal-content-id").text("Your Spotify info has been synced");
    notification_form.modal('show');

    mixpanel.track('Spotify: Finish Sync')
	<% end %>

	<% if @show_eula == true %>
    var notification_form = $('#notification_modal')
    notification_form.find("#notification-modal-header-id").text("EULA");
    notification_form.find("#notification-modal-content-id").text("Please accept our terms and condition");
    notification_form.modal({backdrop: 'static',keyboard: false});
	<% end %>


	mixpanel.track_links('.spotify-link-click', 'Spotify: Start Sync');
	mixpanel.track_links('.linkto-click', 'LinkTo: Click');
	mixpanel.track_links('.youtube-link-click', 'YouTube Video: Play')

	// For multiple choice questions, only enable the submit button when an option is selected
	$(".multiple-choice-answer").click(function() {
		$(this).siblings(".question_submit").removeClass("disabled");
	});

	// For rating questions, only enable the submit button when a valid value has been entered
	$(".number-input").bind('keyup input', function() {

		var inputVal = parseInt($(this).val());
		var minVal = parseInt($(this).attr("min"));
		var maxVal = parseInt($(this).attr("max"));
		var submitButton = $(this).siblings(".question_submit");

		if ((inputVal >= minVal) && (inputVal <= maxVal))
		{
			submitButton.removeClass("disabled");
		}
		else
		{
			if (!submitButton.hasClass("disabled"))
			{
				submitButton.addClass("disabled");
			}
		}
	});

	// Disable enter input.  Otherwise users could submit an invalid values by pressing enter and bypassing validation.
	// The server would reject the invalid answer, but this would be confusing behavior for the user.
	//
	// This idea borrowed from: http://stackoverflow.com/questions/895171/prevent-users-from-submitting-form-by-hitting-enter
	$(document).on("keypress", "form", function(event) { 
    	return event.keyCode != 13;
	});
});

$(document).bind('page:load', function() {
	onYouTubeIframeAPIReady && onYouTubeIframeAPIReady();
});



var player, playing = false;
function onYouTubeIframeAPIReady() {

	<% @link_tos.each_with_index do |cur_link_to, i| %>
		<% if cur_link_to.link_to.is_youtube_embedded_video_linkto %>

			videoId = "<%= cur_link_to.link_to.youtube_video_id %>";
			videoDivId = "video-player-" + videoId;
			videoDivSelector = "#" + videoDivId;

	        player = new YT.Player(videoDivId, {
	            height: $(videoDivSelector).height(),
	            width: $(videoDivSelector).width(),
	            videoId: videoId,
	            events: {
	                'onStateChange': onPlayerStateChange(videoId)
	            }
	        });
        <% end %>
    <% end %>
}

function onPlayerStateChange(inVideoId) {
    return function(inEvent) {
    	if (inEvent.data == YT.PlayerState.PLAYING)
    	{
    		mixpanel.track('YouTube Video: Play');
	    }
    }
}

</script>