<%= render :layout => 'navigation' do %>
	<div class="row"> <!-- This needs to be re-worked, this looks absolutely terrible -->
		<div class="col-lg-12">
			<div>
			    <img src="//placehold.it/1624x300" class="img-responsive">
				<img class="party_image img-circle" src="http://placehold.it/120x120" alt="...">
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle party_drop_down_button" style="width:200px;" data-toggle="dropdown"> <%= @current_user_party_name %> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right party_drop_down_menu" role="menu">
						<% @user.parties.each_with_index do |party, i| %>
							<li><%= link_to party.name, {:party_index => i, :party_id => party.id, :action => 'switch_party'}, method: :post %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 50px;">
		<% @questions.each_with_index do |cur_question, i| %>
		<div class="col-lg-3 col-md-6" id= <%= "question_" + cur_question.action_id.to_s %> >
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-comments fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">1</div>
							<div><%= cur_question.question.get_subtype_name() %></div>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div><%= cur_question.question["text"]%></div>
					<div>
						<%= form_tag( { action: "enter_answer", method: "post" }, { class: "question_form", action_id: cur_question.action_id.to_s, remote: true } ) do %>

							<% if (cur_question.question.get_subtype_name() == "Multiple Choice") %>
								<%= radio_button_tag :answer_integer, '0' %>
								<%= label_tag(:answer_integer_0, cur_question.question.metadata_one) %><br>
								<%= radio_button_tag :answer_integer, '1' %>
								<%= label_tag(:answer_integer_1, cur_question.question.metadata_two) %><br>
								<%= radio_button_tag :answer_integer, '2' %>
								<%= label_tag(:answer_integer_2, cur_question.question.metadata_three) %><br>
								<%= radio_button_tag :answer_integer, '3' %>
								<%= label_tag(:answer_integer_3, cur_question.question.metadata_four) %><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Yes/No") %>
								<%= radio_button_tag :answer_integer, '0' %>
								<%= label_tag(:answer_integer_yes, "Yes") %><br>
								<%= radio_button_tag :answer_integer, '1' %>
								<%= label_tag(:answer_integer_no, "No") %><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Rating") %>
								<%= number_field_tag( :answer_integer, nil, min: 0, max: 10 )%><br><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

							<% if (cur_question.question.get_subtype_name() == "Text") %>
								<%= text_field_tag( :answer_text, nil )%><br><br>
								<%= hidden_field_tag(:action_id, cur_question.action_id) %>
							<% end %>

						<%= submit_tag "Submit", :class => 'btn btn-primary' %>

						<% end %>
					</div>
				</div>

				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<% end %>


		<% @link_tos.each_with_index do |cur_link_to, i| %>
		<div class="col-lg-3 col-md-6">
			<div class="panel <%= cur_link_to.link_to.panel_style %>">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa <%= cur_link_to.link_to.icon_style %> fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div><%= cur_link_to.link_to.title %></div>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div><%= cur_link_to.link_to.description %></div>
					<% if cur_link_to.link_to.is_youtube_embedded_video_linkto %>
					<iframe width="100%" height="100%" src="<%= cur_link_to.link_to.url %>" frameborder="0" allowfullscreen></iframe>
					<% end %>
					<% if cur_link_to.link_to.is_tweet_linkto %>
					<iframe width="100%" height="100%" src="<%='http://twitframe.com/show?url=' + cur_link_to.link_to.url.to_s %>" frameborder="0"></iframe>
					<% end %>
				</div>

				<%= link_to handle_link_to_path(:url => cur_link_to.link_to.url, :action_id => cur_link_to.action_id), :target => cur_link_to.link_to.is_standard_linkto ? "_blank" : "" , :id => cur_link_to.link_to.is_standard_linkto ? 'linkto' +  cur_link_to.link_to.id.to_s : '' do %>
					<div class="panel-footer">
						<span class="pull-left"><%= cur_link_to.link_to.link_text %></span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				<% end %>

			</div>
		</div>
		<% end %>

	</div>

<% end %>


<script>
$(document).ready(function() {

	$('.question_form').on('ajax:success', function(e, data, status, xhr) {
		action_id = $(this).attr("action_id");
		$('#question_' + action_id).remove();
	});

	<% @link_tos.each_with_index do |cur_link_to, i| %>
	  <% if cur_link_to.link_to.is_standard_linkto %>
	  $('#<%= 'linkto'  +  cur_link_to.link_to.id.to_s %>').click(function() {
		  //necessary because we delete the linkto and if it is sill on the page, and visible to the user,
		  // they might click on it again, causing an error (cannot find linkto)
		  location.reload();
	  });
	  <% end %>
	<% end %>
});
</script>