<%= render :layout => 'navigation' do %>
<!-- Party page specific code -->
<div class="row"><br>
    <div class="col-lg-12">
        <!-- The current party -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-group fa-fw"></i> People in <%= @current_user_party.name %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    <%= @current_user_party.description %>
                </p>
                <div class="list-group">
                    <% @current_user_party.users.each_with_index do |user, i| %>
                        <p class="list-group-item">
                            <i class="<%= user.is_female ? 'fa fa-female fa-fw' : 'fa fa-male fa-fw' %>"></i> <%= user.name %>
                            <span id="user-status-label-<%=user.id%>" class="<%= user.is_active ? 'pull-right label label-success' : 'pull-right label label-warning' %>" >
                              <em id="user-status-text-<%=user.id%>"> <%= user.is_active ? 'Active' : 'Inactive' %> </em>
                            </span>
                        </p>
                    <% end %>
               </div>
               <div class="row">
               <!-- We can leave this party if we don't own it or our parties table contains ANOTHER one that we own -->
                <% if @current_user_party.owner_user_id != @user.id ||
                      @user.parties.where(:owner_user_id => @user.id).where.not( :id => @current_user_party.id ).empty? == false %>
                    <div class="col-sm-3">
                        <a class="btn btn-default btn-block" id="leave-party-button" party="<%= @current_user_party.id %>" >Leave party</a>
                    </div>
                <% end %>
                <% if @current_user_party.owner_user_id == @user.id%>
                    <div class="col-sm-3">
                        <a class="btn btn-default btn-block" id="edit-party-button" party="<%= @current_user_party.id %>" >Edit party</a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-default btn-block" id="invite-friend-button" party="<%= @current_user_party.id %>">Invite</a>
                    </div>
                <% end %>
               </div>
            </div>
            <!-- /.panel-body -->
        </div>

        <!-- All the user's parties -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-music fa-fw"></i> Your parties
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <% @user.parties.each do |party| %>
                        <p class="list-group-item">
                            <i class="<%= party.owner_user_id == @user.id ? 'fa fa-edit fa-fw' : 'fa fa-group fa-fw' %>"></i> <%= party.name %>
                            <span class="pull-right text-muted small">
                                <em><%= party.users.count%> <%= party.users.count == 1 ? 'person' : 'people' %></em>
                            </span>
                        </p>
                    <% end %>
               </div>
               <div class="row">
                    <div class="col-sm-3">
                        <a class="btn btn-default btn-block" id="create-party-button">Create party</a>
                    </div>
               </div>
            </div>
            <!-- /.panel-body -->
        </div>

        <!-- All Party invites -->
        <% if @party_invites.empty? == false %>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-link fa-fw"></i> Party Invites
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <% @party_invites.each do |invite| %>
                        <a style="cursor:pointer;" class="list-group-item" id="invite-join-party-button" party="<%= invite.get_party.id %>" desc="<%= invite.get_party.description %>" owner="<%= invite.get_party.get_owner.name %>"=>
                            <i class="fa fa-group fa-fw"></i> <%= invite.get_party.name %>
                            <span class="pull-right text-muted small">
                                <em><%= invite.get_party.users.count%> <%= invite.get_party.users.count == 1 ? 'person' : 'people' %></em>
                            </span>
                        </a>
                    <% end %>
               </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <% end %>


        <!-- All Join party requests -->
        <% if @join_party_requests.empty? == false %>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-link fa-fw"></i> Join <%= @current_user_party.name%> Request(s)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <% @join_party_requests.each do |request| %>
                        <a style="cursor:pointer;" class="list-group-item" id="view-join-party-button" user="<%= request.user_id %>" username="<%= request.get_user.name %>" msg="<%= request.message %>" >
                            <i class="fa fa-group fa-fw"></i> <%= request.get_user.name %>
                        </a>
                    <% end %>
               </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <% end %>


        <!-- All parties in the system -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-globe fa-fw"></i> All parties in your area
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <% @all_parties.each do |party| %>
                        <% if party.users.exists?(@user.id) == false %> <!-- make sure the user is not already in the party -->
                            <a style="cursor:pointer;" class="list-group-item" id="request-join-party-button" party="<%= party.id %>" desc="<%= party.description %>" owner="<%= party.get_owner.name %>"=>
                                <i class="fa fa-group fa-fw"></i> <%= party.name %>
                                <% if ((@user.zip_code) != 0 && (party.get_owner.zip_code) != 0) %>
                                  <%= ', ' + @user.get_region + ','%>
                                  <%= '(' + party.get_owner.get_distance_from_user(@user).to_i.to_s + ' miles from you)'%>
                                <% end %>
                                <span class="pull-right text-muted small">
                                    <em><%= party.users.count%> <%= party.users.count == 1 ? 'person' : 'people' %></em>
                                </span>
                            </a>
                        <% end %>
                    <% end %>
               </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<% end %>


<!-- @TODO: There should be a better way, we should be able to use the same partial for edit and create -->
<%= render :partial => 'user_notification' %>
<%= render 'party_create_form' %>
<%= render 'party_edit_form' %>
<%= render 'party_join_form' %>
<%= render 'party_request_to_join_form' %>
<%= render 'view_request_to_join_form' %>
<%= render :partial => 'party_invite_form', :locals => {:party_name => @current_user_party.name } %>


<script>
$(document).click(function(event) {
    var id = $(event.target).attr("id");
    if(id==null)
        return;

    //edit party button clicked
    if( id == 'edit-party-button' )
    {
        var party_id = parseInt( $(event.target).attr('party') , 10);

        //issuing an ajax request for the party data
        $.ajax({
            url: '/parties/' + party_id + '.json',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            cache: false,
            success: function(data) {
               //on success the party is accessible from 'data'
               var party_edit_form = $('#party_edit_modal')
               for (var key in data) {
                    if (data.hasOwnProperty(key))
                    {
                        var form_field = party_edit_form.find("#" + key)
                        if(form_field != null)
                        {
                            form_field.val(data[key]);//set the starting value of the field
                        }
                    }
                }
                //set the party id
                party_edit_form.find("#party_id").val(party_id);
            },
            error: function() {
                window.alert('Failed to retrieve party' + party_id);
            }
        });

        $('#party_edit_modal').modal('show');
    }

    //create party button clicked
    else if(id == 'create-party-button')
    {
        <% if @user.parties.count < 5 %>
            $('#party_create_modal').modal('show');
        <% else %>
            //var note = "You can only create up to 5 parties";
            //var theTag = $('#notification_modal').find("#notification-field");
            //theTag.val(note);
            $('#notification_modal').modal('show');
        <% end %>
    }

    //leave party button
    else if(id == 'leave-party-button')
    {
        var party_id = parseInt( $(event.target).attr('party'), 10);

        $.ajax({
            url: '/new_account/leave_party',
            type: 'POST',
            data: $.param({ party: party_id, user: <%= @user.id %> })
            });

        location.reload();
    }

    //You were invited to join a party, you just have to accept
    else if(id == 'invite-join-party-button')
    {
        var party_id = parseInt( $(event.target).attr('party'), 10);

        var party_owner =  $(event.target).attr('owner')
        var party_desc =  $(event.target).attr('desc')

        var party_join_form = $('#party_join_modal')

        document.getElementById("party-join-title").innerHTML = "Join " + party_owner + "'s party!"
        document.getElementById("party-join-content").innerHTML = "Description: " + party_desc

        party_join_form.find("#party_id").val(party_id);

        //don't do that just yet, we need a better way
        $('#party_join_modal').modal('show');
    }
    //you would like to join a party, you need to send a petition for joining a party
    else if(id == 'request-join-party-button')
    {
        var party_id = parseInt( $(event.target).attr('party'), 10);

        var party_owner =  $(event.target).attr('owner')
        var party_desc =  $(event.target).attr('desc')

        var party_request_join_form = $('#party_request_to_join_modal')

        document.getElementById('party-request-to-join-title').innerHTML = "Join " + party_owner + "'s party!"
        document.getElementById('party-request-to-join-content').innerHTML = "Description: " + party_desc

        party_request_join_form.find("#party_id").val(party_id);

        party_request_join_form.modal('show');
    }

    //We want to see the user's join party request
    else if(id == 'view-join-party-button')
    {
        var user_id = parseInt( $(event.target).attr('user'), 10)
        var party_name =  $(event.target).attr('username')
        var msg =  $(event.target).attr('msg')

        var view_join_request_form = $('#view_join_request_modal')

        document.getElementById('view-join-request-title').innerHTML = party_name + " would like to join your party."
        document.getElementById('view-join-request-content').innerHTML = "User Message: " + msg

        view_join_request_form.find("#user_id").val(user_id);

        view_join_request_form.modal('show')
    }

    //invite friend
    else if(id == 'invite-friend-button')
    {
        //var party_id = parseInt( $(event.target).attr('party'), 10);
        $('#party_invite_modal').modal('show');
    }
});


//This pulls the server every minute for a new message.
//If such is found, reload the page.
function worker() {

  $.ajax({
      dataType: 'json',
      type: "POST",
      url: "new_account/pull_user_statuses",
      success: function(data) {
          for (i = 0; i < data.length; i++)
          {
              //status of the user
              var active = data[i]["user_active"];

              //query the laber to update its color and the text to change its value
              var label_id = "user-status-label-" + data[i]["user_id"];
              var text_id  = "user-status-text-" + data[i]["user_id"];
              var label = $("#" + label_id)
              var span  = $("#" + text_id)
              
              span.text( active ? "Active" : "Inactive" );
              
              label.removeClass( "label-success" )//.addClass
              label.removeClass( "label-warning" )//.addClass
              label.addClass(  active ? "label-success" : "label-warning" );
          }
      }
  });

  //re-issue a call in the next minute
  setTimeout(worker, 60000);
}

$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(worker, 60000);
});
</script>
