<h1><%= @header_message %></h1>

<p>
  <%= @message %>
</p>

<p>
<a href="<%= @link %>">Click Here!</a>
</p>

</footer>
  <%= @footer_message %><br>
  <%= link_to "Unsubscribe", mailkick_unsubscribe_url %>
</footer>
