<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab_top_artists">Top Artists</a></li>
    <li><a data-toggle="tab" href="#tab_top_songs">Top Songs</a></li>
    <li><a data-toggle="tab" href="#tab_top_genre">Top Genres</a></li>
    <li><a data-toggle="tab" href="#tab_top_tracks_avg_info">Top Tracks Average Info</a></li>
    <li><a data-toggle="tab" href="#tab_related_top_artists">Related Top Artists</a></li>
</ul>

<div class="tab-content">
    <div id="tab_top_artists" class="tab-pane fade in active">
        <pre id="top_artists" />
    </div>
    <div id="tab_top_songs" class="tab-pane fade">
        <pre id="top_songs" />
    </div>
    <div id="tab_top_genre" class="tab-pane fade">
        <pre id="top_genre" />
    </div>
    <div id="tab_top_tracks_avg_info" class="tab-pane fade">
        <pre id="top_tracks_avg_info" />
    </div>
    <div id="tab_related_top_artists" class="tab-pane fade">
        <pre id="related_top_artists" />
    </div>
</div>

<script>
    $('document').ready(function() {

        <% if @user.favorite_info.nil? || @user.favorite_info.top_artists.nil? || @user.favorite_info.top_artists.empty? %>
            $("#top_artists").text("NO DATA");
        <% else %>
            $("#top_artists").text(pretty_print("<%= @user.favorite_info.top_artists_to_genres.to_json %>"));
        <% end %>

        <% if @user.favorite_info.nil? || @user.favorite_info.top_songs.nil? || @user.favorite_info.top_songs.empty? %>
            $("#top_songs").text("NO DATA");
        <% else %>
            $("#top_songs").text(pretty_print("<%= @user.favorite_info.top_songs_to_artists.to_json %>"));
        <% end %>

        <% if @user.favorite_info.nil? || @user.favorite_info.top_genre.nil? || @user.favorite_info.top_genre.empty? %>
            $("#top_genre").text("NO DATA");
        <% else %>
            $("#top_genre").text(pretty_print("<%= @user.favorite_info.top_genre %>"));
        <% end %>

        <% if @user.favorite_info.nil? || @user.favorite_info.average_track_info.nil? || @user.favorite_info.average_track_info.empty? %>
            $("#top_tracks_avg_info").text("NO DATA");
        <% else %>
            $("#top_tracks_avg_info").text(pretty_print("<%= @user.favorite_info.average_track_info %>")  + "\n\n" + "For more info, https://developer.spotify.com/web-api/object-model/#audio-features-object");
        <% end %>

        <% if @user.favorite_info.nil? || @user.favorite_info.related_top_artists.nil? || @user.favorite_info.related_top_artists.empty? %>
            $("#related_top_artists").text("NO DATA");
        <% else %>
            $("#related_top_artists").text(pretty_print("<%= @user.favorite_info.related_top_artists %>"));
        <% end %>
    });
    function pretty_print(str) {
        return JSON.stringify(JSON.parse($("<div/>").html(str).text()), null, 4);
    }
</script>