<div class="modal-admin">
  <div class="modal-content">

    <div class="modal-header bg-primary">
      <h3 class="modal-title"><%= @user.name %></h3>
    </div>

    <div class="modal-body">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab_user_info">User Info</a></li>
        <li><a data-toggle="tab" href="#tab_questions">Unanswered Questions</a></li>
        <li><a data-toggle="tab" href="#tab_question_answers">Answered Questions</a></li>
        <li><a data-toggle="tab" href="#tab_favorite_infos">Spotify</a></li>
        <li><a data-toggle="tab" href="#tab_metadata">Metadata</a></li>
        <li><a data-toggle="tab" href="#tab_send_email">Send Email</a></li>
      </ul>

      <div class="tab-content">
        <div id="tab_user_info" class="tab-pane fade in active">
          <ul>
            <% for attribute in @user.attributes.keys %>
              <li>
                <strong><%= attribute.humanize %>:</strong>
                <%= @user.attributes[attribute].to_s %>
              </li>
            <% end %>
          </ul>
        </div>
        <div id="tab_questions" class="tab-pane fade">
          <p><%= render 'show_questions' %></p>
        </div>
        <div id="tab_question_answers" class="tab-pane fade">
          <p><%= render 'show_question_answers' %></p>
        </div>
        <div id="tab_favorite_infos" class="tab-pane fade">
          <p><%= render 'show_favorite_infos' %></p>
        </div>
        <div id="tab_metadata" class="tab-pane fade">
          <p><%= render 'show_metadata' %></p>
        </div>
        <div id="tab_send_email" class="tab-pane fade">
          <p><%= render 'show_send_email' %></p>
        </div>
      </div>
    </div>

    <div class="modal-footer bg-dark">
      <% if @standalone_page %>
        <%= link_to 'Users Page', users_path, class: "btn btn-default" %>
      <% else %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <% end %>
    </div>
  </div>
</div>
