<%= render :layout => 'administrator/navigation' do %>

  <h1>Listing Users</h1>

  <table class="table" id="user_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Permissions</th>
        <th>Last Login</th>
        <th>Last Spotify Sync</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.permissions == 1 ? "Administrator" : "Regular" %></td>
          <td><%= user.time_since_last_login %> </td>
          <td><%= user.time_since_last_spotify_sync %> </td>
          <td><%= link_to 'Show', user_path(user), remote: true, "data-toggle" => "modal", "data-target" => "#my_modal" %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="my_modal" class="modal fade" role="dialog" />

<% end %>