<%= render :layout => 'administrator/navigation' do %>

  <h3><%= @user.name %> (<%= @user.email %>)</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Question Text</th>
        <th>Question type</th>
        <th>Answer</th>
        <th>Answer Text</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.text %></td>
          <td><%= question.get_subtype_name(question.question_type) %></td>
          <td><b>UNANSWERED</b></td>
          <td><b>UNANSWERED</b></td>
          <td><%= link_to 'Show', question %></td>
        </tr>
      <% end %>
      
      <tr><td></td><td></td><td></td><td></td><td></td></tr>
      
      <% @questions_answers.each do |question_answer| %>
        <tr>
          <td><%= question_answer.question.text %></td>
          <td><%= question_answer.question.get_subtype_name(question_answer.question.question_type) %></td>
          <td>
            <% case question_answer.answer.answer_integer %>
            <% when 0 %>
                0) <%= question_answer.question.metadata_one %>
            <% when 1 %>
                1) <%= question_answer.question.metadata_two %>
            <% when 2 %>
                2) <%= question_answer.question.metadata_three %>
            <% when 3 %>
                3) <%= question_answer.question.metadata_four %>
            <% else %>
                <% question_answer.answer.answer_integer %>
            <% end %>
          </td>
          <td><%= question_answer.answer.answer_text %></td>
          <td><%= link_to 'Show', question_path(question_answer.question) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
