<%= render :layout => 'administrator/navigation' do %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= @event.event_type %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @event.start %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= @event.metadata %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= @event.link %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>

<% end %>