<!--
This is designed such that calendar.html, home.html etc... do not have to copy paste this code.
This code contains the rendering code for the navigation bar as well as the top menu and its items.
For more on partials:
http://api.rubyonrails.org/classes/ActionView/PartialRenderer.html
http://stackoverflow.com/questions/2951105/rails-render-partial-with-block
-->

<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="<%= administrator_path %>">Audicy Administrator</a>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!-- Users Menu -->
                <li class="<%= @current_nav_selection=='nav_users' ? 'selected' : ' ' %>">
                    <a href="<%= users_path %>" data-toggle="tooltip" title="A user record exists for each unique user. You can update party membership by editing a user record.">
                        <i class="fa fa-fw fa-user"></i> Users
                    </a>
                </li>
                <!-- Parties Menu -->
                <li class="<%= @current_nav_selection=='nav_parties' ? 'selected' : ' ' %>">
                    <a href="#collapseParties" data-toggle="collapse">
                        <span data-toggle="tooltip" title="Parties contain a group of user. These links only allow you to create the parties themselves. You cannot add or remove users from a party using these links.">
                            <i class="fa fa-fw fa-group"></i> Parties <i class="fa fa-fw pull-right <%= @current_nav_selection=='nav_parties' ? 'fa-angle-down' : 'fa-angle-right' %>"></i>
                        </span>
                    </a>
                </li>
                <ul id="collapseParties" class="panel-collapse collapse <%= @current_nav_selection=='nav_parties' ? 'in' : '' %>" style="list-style-type:none">
                    <li><a href="<%= parties_path %>" data-toggle="tooltip" title="View all parties">All Parties</a></li>
                    <li><a href="<%= view_party_invites_path %>" data-toggle="tooltip" title="View all requests to join party">All Requests To Join Party</a></li>
                </ul>

                <!-- User Actions Menu -->
                <li class="<%= @current_nav_selection=='nav_user_actions' ? 'selected' : ' ' %>">
                    <a data-toggle="collapse" href="#collapseUserActions">
                        <span data-toggle="tooltip" title="Actions that are assigned to a user">
                            <i class="fa fa-fw fa-bell"></i> User Actions <i class="fa fa-fw pull-right <%= @current_nav_selection=='nav_user_actions' ? 'fa-angle-down' : 'fa-angle-right' %>"></i>
                        </span>
                    </a>
                </li>
                <ul id="collapseUserActions" class="panel-collapse collapse <%= @current_nav_selection=='nav_user_actions' ? 'in' : '' %>" style="list-style-type:none">
                    <li><a href="<%= new_user_action_path %>" data-toggle="tooltip" title="Create a new user action">New User Action</a></li>
                    <li><a href="<%= user_actions_path %>" data-toggle="tooltip" title="View all user actions">All User Actions</a></li>
                </ul>
                <!-- Questions Menu -->
                <li class="<%= @current_nav_selection=='nav_questions' ? 'selected' : ' ' %>">
                    <a data-toggle="collapse" href="#collapseQuestions">
                        <span data-toggle="tooltip" title="Questions that be assigned to users (via actions)">
                            <i class="fa fa-fw fa-question"></i> Questions <i class="fa fa-fw pull-right <%= @current_nav_selection=='nav_questions' ? 'fa-angle-down' : 'fa-angle-right' %>"></i>
                        </span>
                    </a>
                </li>
                <ul id="collapseQuestions" class="panel-collapse collapse <%= @current_nav_selection=='nav_questions' ? 'in' : '' %>" style="list-style-type:none">
                    <li><a href="<%= new_question_path %>" data-toggle="tooltip" title="Create a new question">New Question</a></li>
                    <li><a href="<%= questions_path %>" data-toggle="tooltip" title="View all questions">All Questions</a></li>
                </ul>
                <!-- Events Menu -->
                <li class="<%= @current_nav_selection=='nav_events' ? 'selected' : ' ' %>">
                    <a data-toggle="collapse" href="#collapseEvents">
                        <span data-toggle="tooltip" title="">
                            <i class="fa fa-fw fa-calendar"></i> Events <i class="fa fa-fw pull-right <%= @current_nav_selection=='nav_events' ? 'fa-angle-down' : 'fa-angle-right' %>"></i>
                        </span>
                    </a>
                </li>
                <ul id="collapseEvents" class="panel-collapse collapse <%= @current_nav_selection=='nav_events' ? 'in' : '' %>" style="list-style-type:none">
                    <li><a href="<%= new_event_path %>" data-toggle="tooltip" title="Create a new event">New Event</a></li>
                    <li><a href="<%= events_path %>" data-toggle="tooltip" title="View all eventss">All Events</a></li>
                </ul>
                <!-- User Feedback Menu -->
                <li class="<%= @current_nav_selection=='nav_user_feedbacks' ? 'selected' : ' ' %>">
                    <a href="<%= user_feedbacks_path %>" data-toggle="tooltip" title="View all submitted user feedback">
                        <i class="fa fa-fw fa-comments"></i> User Feedback
                    </a>
                </li>
                <!-- Linktos Menu -->
                <li class="<%= @current_nav_selection=='nav_linktos' ? 'selected' : ' ' %>">
                    <a href="<%= link_tos_path %>" data-toggle="tooltip" title="View all linktos">
                        <i class="fa fa-fw fa-quote-right"></i> Link tos
                    </a>
                </li>
                <!-- Back to user page -->
                <li>
                    <a href="<%= home_path %>" data-toggle="tooltip">
                        <i class="fa fa-fw fa-sign-out"></i> Exit admin
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- This will be replaced by some code as the template gets instantiated -->
    <%= yield %>
</div>

<script>
    $(function(){
        $(".side-nav .collapse").on("hide.bs.collapse", function() {
            $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
        });
        $('.side-nav .collapse').on("show.bs.collapse", function() {
            $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
        });
    })
</script>